html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
}

.hidden {
  display: none;
}

.container {
  height: 100%;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
}

.progress-container {
  height: 50px;
}

#deckProgress {
  width: 100%;
  height: 100%;
}

#deckProgressLabel {
  width: 100%;
  text-align: center;
  font-size: 120%;
  position: absolute;
  top: calc(25px - 0.6em);
  left: 0;
  color: black;
  text-shadow: -1px -1px 1px lightblue, 1px -1px 1px lightblue, -1px 1px 1px lightblue, 1px 1px 1px lightblue;
}

#newGameBtn {
  height: 50px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.game-board {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}

.card {
  background-color: whitesmoke;
  display: inline-block;
  text-align: center;
  font-size: xxx-large;
  border: 1px solid black;
  border-radius: 5px;
  height: 80px;
  width: 125px;
  margin-left: calc((30% - 125px) / 2);
  margin-right: calc((30% - 125px) / 2);
}

.card.selected {
  box-shadow: 5px 5px lightgray;
  position: relative;
  top: -5px;
  left: -5px;
}

.card.red {
  color: red;
}

.card.green {
  color: green;
}

.card.purple {
  color: darkorchid;
}
